# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.ProceduralFromImage.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\MatPr\Documents\GitHub\ProceduralGeneration\ProceduralGenerationProject\Assets\Scripts\ProceduralFromImage\.idea\.idea.ProceduralFromImage.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
